<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<!-- Toolbar -->
<div>
  <header>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png"
      alt="logo"
      width="100"
    />

    <input
      type="text"
      placeholder="Search A Pokemon"
      (keyup)="searchPokemon()"
      [(ngModel)]="searchText"
    />
  </header>

  <div class="actions">
    <button (click)="handlePrev()">Prev</button>
    <button (click)="handleNext()">Next</button>
  </div>
  <div class="container">
    <div class="card" *ngFor="let pokemon of filterPokemons">
      <div>
        <h2>{{ pokemon.name }}</h2>
        <button (click)="details(pokemon.name)">See more</button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div [ngClass]="isOpen == true ? 'modal-show' : 'modal' ">
    <div class="container-modal">
      <h1>{{pokemon.name}}</h1>
      <img [src]="pokemon.sprites.front_default" alt="pokemon" width="200"/>
      <p>Type : {{pokemon.types[0].type.name}}</p>
      <p>Weight : {{pokemon.weight}}</p>

      <button class="close-btn" (click)="closeModal()">Close</button>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
